:root {
    --font-color: #1341bf;
    --font-color-hover: #244fc4;
    --font: "Lato", "Arial", sans-serif;
}

.portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #CCC;
    width: 60%;
    margin-left: 20%;
    height: 500px;
    border-radius: 20px;
}

.code-button {
    margin-left: 475px;
    background-color: var(--font-color);
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.code-button:hover {
    background-color: var(--font-color-hover);
}

.portfolio-image {
    height: 300px;
    width: auto;
    margin-left: 110px;
    content: "";
    margin-bottom: 50px;

}

.portfolio-text {
    padding-left: 30px;
}

.portfolio-text h2 {
    font-size: 175%;
    padding-bottom: 15px;
}

.portfolio-text p {
    font-size: 90%;
}

