:root {
    --font-color: #1341bf;
    --font-color-hover: #345ac2;
    --font: "Lato", "Arial", sans-serif;
}


.portfolio {
    padding: 100px 0;
    margin-top: 50px;
    background-color: #FFF;
    border: 6px solid #444;
    width: 60%;
    margin-left: 20%;
    height: 600px;
    border-radius: 20px;
}

.code-button {
    margin-left: 475px;
    background-color: var(--font-color);
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.code-button:hover {
    background-color: var(--font-color-hover);
}

.portfolio-image {
    height: 50%;
    width: auto;
    margin-left: 110px;
    content: "";
    margin-bottom: 75px;

}

.portfolio-text {
    padding-left: 30px;
}

.portfolio-text h2 {
    font-size: 175%;
    padding-bottom: 15px;
}

.portfolio-text p {
    font-size: 90%;
}

