:root {
    --font-color: #1341bf;
    --font-color-hover: #345ac2;
    --font: "Lato", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    box-sizing: border-box;
    font-family: var(--font);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;;
    background-color: #EEE;
}

h2 {
    width: 400px;
    font-size: 250%;
    color: #444;
    margin-bottom: 2%;
    font-weight: 500;
}


/*-----------HOME PAGE--------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

    /*----------------NAVIGATION AND LOGO--------------------*/
    .logo {
        float: left;
        height: 100px;
        width: auto;
        margin: 15px 30px 0 15px;
    }

    .nav-items {
        float: left;
        list-style: none;
        margin-top: 50px;
    }

    .nav-items li {
        display: inline-block;
        padding-right: 30px;
    }

    .nav-items li a {
        text-decoration: none;
        color: white;
        font-family: var(--font);
        padding-bottom: 4px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .nav-items li a:hover {
        border-bottom: solid 3px var(--font-color);
        transition: border-bottom .2s;
    }

    .resume-button {
        margin: 30px 0 0 850px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid var(--font-color);
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .resume-button:hover {
        cursor: pointer;
        border-color: var(--font-color-hover);
    }

    /*----------------NAVIGATION AND LOGO--------------------*/

    /*----------------MAIN TEXT-------------------------*/
    .main-text {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 150px;
    }

    .main-text h1,
    .main-text h2 {
        margin: 0;
        text-transform: uppercase;
        color: white;
        font-weight: 300;

    }
    .main-text h1 {
        font-size: 500%;
        margin-bottom: 2%;
    }

    .main-text h1:after {
        display: block;
        height: 5px;
        background-color: var(--font-color);
        content: "";
        width: 40%;
        margin-top: 2%;
        margin-left: 30%;
    }

    .main-text h2 {
        width: 750px;
        font-size: 150%;
        margin-bottom: 1%;
        word-spacing: 10px;
        letter-spacing: 4px;
        margin-left: 550px;
    }

    .main-text a {
        display: block;
        text-decoration: none;
        color: white;
        border: 2px solid white;
        padding: 25px;
        width: 200px;
        text-align: center;
        margin-top: 40px;
        margin-left: 45%;
        border-radius: 10px;
    }

    .main-text a:hover {
        color: var(--font-color);
        border: 2px solid var(--font-color);
        transition: background-color .3s;
    }

    
    .learn-more {
        width: 100%;
        text-align: center;
        margin-top: 775px;
        color: rgba(255, 255, 255, 0.5) ;    
    }

    .learn-more h3 {
        font-size: 110%;
        padding-bottom: 15px;
    }

    .learn-more i {
        display: block;
    }

/*----------------MAIN TEXT-------------------------*/

/*--------------END OF MAIN PAGE-------------------*/


/*--------------ABOUT ME SECTION-------------------*/

.me {
    padding-left: 200px;
}

.me img {
    margin-top: 25%;
    border-radius: 100%;
}

.about-me {
    margin-right: 150px;
}

.about-me p {
    line-height: 140%;
    width: 600px;
    color: #444;
}

.about-me h2 {
    transform: translate(175px);
}

.about-me h2:after {
    display: block;
    height: 3px;
    background-color: var(--font-color);
    content: "";
    width: 240px;
    margin-top: 2%;
}

/*--------------ABOUT ME SECTION-------------------*/

/*---------------PORTFOLIO----------------------*/

.embla {
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    position: relative; /* Needed if loop: true */
    flex: 0 0 100%; /* Choose any slide width */
  }

.portfolio-title {
    margin-left: 790px;
}

.portfolio-title:after {
    display: block;
    height: 3px;
    background-color: var(--font-color);
    content: "";
    width: 55%;
    margin-top: 2%;
}

.portfolio-button {
    border: none;
    transform: translate(0, -275px);
    background-color: transparent;
    color: #CCC;
    border-radius: 50%;
}

.portfolio-button i {
    font-size: 200%;
}

.portfolio-button:hover {
    cursor: pointer;
    background-color: #CCC;
    color: #EEE;
}

.right-arrow {
    margin-left: 1200px;
    padding: 9px 15px 9px 20px;
}

.left-arrow {
    margin-left: 250px;
    padding: 9px 20px 9px 15px;
}

/*---------------PORTFOLIO----------------------*/

/*------------SOCIAL MEDIA & CONTACTS------------*/

.social p {
    margin: 0 10px 20px 10px; 
    text-align: center;
    color: #444;
    line-height: 35px;
    letter-spacing: .25px;
}

.contact-section .row {
    margin: 75px 150px 0 150px;
}

.contact-section h2 {
    width: 750px;
    text-align: center;
    margin-left: 550px;
}

.contact-section h2:after {
    display: block;
    height: 3px;
    background-color: var(--font-color);
    content: "";
    width: 80%;
    margin-left: 75px;
    margin-top: 2%;
}

#phoneNum {
    width: 500px;
    margin-bottom: 57px;
    margin-top: 15px;
    cursor: pointer;
}

#phoneNum::selection {
    background-color: transparent;
}

.center-icon {
    width: 450px;
}

.center-icon i {
    margin-left: 50%;
}

.icon {
    color: #444;
    font-size: 350%;
    margin-bottom: 30px;
}

.center-icon .phone {
    margin-left: 240px;
}

.twitter:hover {
    color: #1da1f2;
}

.linkedin:hover {
    color: #007bb5;
}

.phone:hover {
    color: #00b200;
    cursor: pointer;
}

.github:hover {
    color: #555;
}

.instagram:hover {
    color: #c32aa3;
}

.email:hover {
    color: #0064c9
}