:root {
    --font-color: #1341bf;
    --font-color-hover: #345ac2;
    --font: "Lato", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    box-sizing: border-box;
    font-family: var(--font);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;;
    background-color: #EEE;
}

h2 {
    width: 400px;
    font-size: 250%;
    color: #444;
    margin-bottom: 2%;
    font-weight: 500;
}


/*-----------HOME PAGE--------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

    /*----------------NAVIGATION AND LOGO--------------------*/
    
    .logo {
        float: left;
        height: 100px;
        width: auto;
        margin: 15px 30px 0 15px;
    }

    .nav-items {
        float: left;
        list-style: none;
        margin-top: 30px;
    }

    .nav-items li {
        display: inline-block;
        padding-right: 20px;
    }

    .nav-items li a {
        text-decoration: none;
        color: white;
        font-family: var(--font);
        padding-bottom: 4px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .nav-items li a:hover {
        border-bottom: solid 3px var(--font-color);
        transition: border-bottom .2s;
    }

    .resume-link {
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid var(--font-color);
    }

    .resume-link:hover {
        background-color: var(--font-color-hover);
        border-color: var(--font-color-hover);
    }

    .main-nav-mobile {
        float: right;
        margin-top: 15px;
        margin-right: 15px;
        cursor: pointer;
        display: none;
    }

    .main-nav-mobile i {
        color: white;
    }

    .sticky {
        position: fixed;
        background-color: #EEE;
        width: 100%;
        z-index: 9999;
    }

    .sticky .logo {
        float: left;
        height: 75px;
        width: auto;
        margin: 3px 30px 3px 15px;
    }

    .sticky .nav-items {
        float: left;
        list-style: none;
        margin-top: 28px;
    }

    .sticky .nav-items li a {
        padding-bottom: 25px;
        color: #444;
    }

    /*----------------NAVIGATION AND LOGO--------------------*/

    /*----------------MAIN TEXT-------------------------*/
    .main-text {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 150px;
    }

    .main-text h1,
    .main-text h2 {
        margin: 0;
        text-transform: uppercase;
        color: white;
        font-weight: 300;

    }
    .main-text h1 {
        font-size: 500%;
        margin-bottom: 2%;
    }

    .main-text h1:after {
        display: block;
        height: 5px;
        background-color: var(--font-color);
        content: "";
        width: 40%;
        margin-top: 2%;
        margin-left: 30%;
    }

    .main-text h2 {
        width: 100%;
        text-align: center;
        font-size: 150%;
        word-spacing: 10px;
        letter-spacing: 4px;
    }

/*--------------END OF MAIN PAGE-------------------*/


/*--------------ABOUT ME SECTION-------------------*/

.me {
    padding-left: 200px;
}

.me img {
    margin-top: 25%;
    margin-bottom: 25%;
    border-radius: 100%;
    height: auto;
    width: 70%;
}

.about-me {
    margin-right: 150px;
}

.about-me p {
    line-height: 140%;
    width: 90%;
    margin-top: 2%;
    color: #444;
    margin-right: 4%;
}

.about-me h2 {
    width: 50%;
    margin: 0 20%;
    text-align: center;
}

/*
.about-me h2:after {
    display: block;
    height: 3px;
    background-color: var(--font-color);
    content: "";
    width: 300px;
    margin-top: 2%;
    margin-left: 18%;
}
*/

/*--------------ABOUT ME SECTION-------------------*/

/*---------------PORTFOLIO----------------------*/

.embla {
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    position: relative; /* Needed if loop: true */
    flex: 0 0 100%; /* Choose any slide width */
  }

.portfolio-title {
    width: 100%;
    text-align: center;
}

.portfolio-title:after {
    display: block;
    height: 3px;
    background-color: var(--font-color);
    content: "";
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
}

.portfolio-button {
    border: none;
    transform: translate(0, -300px);
    background-color: transparent;
    color: #444;
    border-radius: 50%;
}

.portfolio-button i {
    font-size: 200%;
}

.portfolio-button:hover {
    cursor: pointer;
    background-color: #444;
    color: #EEE;
}

.right-arrow {
    margin-left: 1200px;
    padding: 9px 15px 9px 20px;
}

.left-arrow {
    margin-left: 250px;
    padding: 9px 20px 9px 15px;
}

/*---------------PORTFOLIO----------------------*/

/*------------SOCIAL MEDIA & CONTACTS------------*/

.social p {
    margin: 0 10px 20px 10px; 
    text-align: center;
    color: #444;
    line-height: 35px;
    letter-spacing: .25px;
}

.contact-section .row {
    margin: 75px 150px 0 150px;
}

.contact-section h2 {
    width: 100%;
    text-align: center;
}

.contact-section h2:after {
    display: block;
    height: 3px;
    background-color: var(--font-color);
    content: "";
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

#phoneNum {
    width: 500px;
    margin-bottom: 57px;
    margin-top: 15px;
    cursor: pointer;
}

#phoneNum::selection {
    background-color: transparent;
}

.center-icon {
    width: 100%;
}

.center-icon i {
    width: 100%;
    text-align: center;
}

.icon {
    color: #444;
    font-size: 350%;
    margin-bottom: 30px;
}

.center-icon .phone i {
    width: 100%;
    text-align: center;
}

#phoneNum {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

.twitter-contact:hover {
    color: #1da1f2;
}

.linkedin:hover {
    color: #007bb5;
}

.phone:hover {
    color: #00b200;
    cursor: pointer;
}

.github:hover {
    color: #555;
}

.instagram:hover {
    color: #c32aa3;
}

.email:hover {
    color: #0064c9
}

/*---------FOOTER----------*/
footer {
    padding-top: 10px;
    padding-bottom: 0;
    background-color: #444;
}

.footer-nav {
    float: left;
}

.footer-nav li {
    display: inline-block;
    padding-left: 20px;
}

.footer-nav li a {
    text-decoration: none;
    color: #AAA;
    font-size: 75%;
    letter-spacing: 2px;
}

.footer-nav li a:hover {
    color: #EEE;
}

.copyright {
    display: block;
    color: #AAA;
    width: 100%;
}

.copyright p {
    margin-top: 50px;
    text-align: center;
    font-size: 75%;
}

/* Animations */
.js-about-picture {
    opacity: 0;
}

.js-about-picture.animated {
    opacity: 1;
}

.js-embla {
    opacity: 0;
}

.js-embla.animated {
    opacity: 1;
}

.js-social {
    opacity: 0;
}

.js-social.animated {
    opacity: 1;
}